In [1]:
#Setup the Pyspark Environment
#from pyspark.context import SparkContext
#from pyspark.sql.session import SparkSession
#sc = SparkContext('local')
#spark = SparkSession(sc)
#print(type(spark))

In [2]:
dataframe = spark.read.option("inferschema", "true").option("header", "true").csv("summary01.csv")
dataframe.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [3]:
#Question : 01
dataframe.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [4]:
#Question : 02
from pyspark.sql.functions import desc
dataframe.sort(desc("count")).show(1)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
+-----------------+-------------------+------+
only showing top 1 row

In [5]:
#Question : 03
dataframe = spark.read.option("inferschema", "true").option("header", "true").csv("summary01.csv")
dataframe.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [6]:
#Question : 04
from pyspark.sql.functions import col
dataframe.filter(col("count")>10).count()

208

In [7]:
#Question : 04
from pyspark.sql.functions import sum
dataframe.select("DEST_COUNTRY_NAME","count").filter(col("DEST_COUNTRY_NAME")=="United States").agg(sum("count")).show()

+----------+
|sum(count)|
+----------+
|    411352|
+----------+

In [8]:
print("working")

working