In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
print(type(spark))

21/07/17 06:43:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/07/17 06:43:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

<class 'pyspark.sql.session.SparkSession'>

In [6]:
dataframe = spark.read.option("inferschema", "true").option("header", "true").csv("summary.csv")
dataframe.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [8]:
dataframe.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [10]:
from pyspark.sql.functions import desc
dataframe.sort(desc("count")).show(1)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
+-----------------+-------------------+------+
only showing top 1 row

In [11]:
dataframe = spark.read.option("inferschema", "true").option("header", "true").csv("summary.csv")
dataframe.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [14]:
from pyspark.sql.functions import col
dataframe.filter(col("count")>10).count()

208

In [18]:
from pyspark.sql.functions import sum
dataframe.select("DEST_COUNTRY_NAME","count").filter(col("DEST_COUNTRY_NAME")=="United States").agg(sum("count")).show()

+----------+
|sum(count)|
+----------+
|    411352|
+----------+